/* Base Theme ============================================================= */

/* Reset ------------------------------------------------------------------ */

:link,:visited {
    text-decoration: none;
}
html,body,div,
ul,ol,li,dl,dt,dd,
form,fieldset,input,textarea,
h1,h2,h3,h4,h5,h6,pre,code,p,blockquote,hr,
th,td {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
table {
    border-spacing: 0;
}
fieldset,img,abbr,acronym {
    border: 0;
} 
/* strict reset by uncommenting lines below */
address,caption,cite,code,dfn,em,strong,b,u,s,i,th,var {
    /* font-style: normal; */
    /* font-weight: normal; */
}

ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
q:before,q:after {
    content: '';
}
a {
    text-decoration: underline;
    outline: none;
}
hr {
    border: 0;
    height: 1px;
    background-color: #000;
    color: #000;
}
a img,:link img,:visited img {
    border: none;
}
address {
    font-style: normal;
    display: inline;
}
/* ----------------------------------------------------------------------- */

body{
	font-family:'Helvetica Neue', Arila, 'Liberation sans', FreeSans, 'Hiragino Sans GB', sans-serif;
	background-image: url(../img/bg2.jpg);
}
.clear{
	clear:both;
}
#head{
	width:960px;
	height:100px;
	
	
	margin:auto;
}

#wrapper{
	margin-top:14px;
	margin:auto;
	
	width:960px;
	
}

.main{
	width:640px;
	height:450px;
	background-color:white;
	float:left;
	margin-right:20px;
	border-radius:4px;
}

.side{
	width:270px;
	float:right;

	background-color:white;
	padding:15px;
	border-radius:4px;
}

#logo_title{
	color:black;
	float:left;
	margin-top:15px;
}
#logo_title h1{
	font-size:24px;
}

#logo_title h2{
	font-size:14px;
	margin-left:50px;
}
#navi{
	margin-top:70px;
	float:right;
}

#navi ul{
	List-style:none;
}
#navi ul li{
	display:inline-block;
	margin-right:0px;
}

#navi ul li a{
	color:black;
	border: solid 1px white;
	padding: 4px;
	padding-left: 14px;
	padding-right:14px;
	border-radius:4px;
	text-decoration:none;
	
}





